$fromTopToDropdown: 50px;
$dropdownWidth: 450px;
$dropdownHeight: 600px;


body {
  background-color: #0396FF;
}

ul, li {
  list-style: none;
  padding: 0;
}

.dropdown {
  position: absolute;
  top: $fromTopToDropdown;
  left: 0;
  background-color: white;
  width: 450px;
  height: 600px;
}

.root {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.active {
  display: flex;
}

.closed {
  display: none;
}